{:require  [offcourse.main]
 :init-fns [offcourse.main/init]
 :compiler-options {:asset-path "/js/app.out"
                    :language-in  :ecmascript5
                    :language-out :ecmascript5
                    :foreign-libs [{:file "src/js/platform.js"
                                    :provides ["gapi"]}]
                    :externs ["src/js/platform.js"]}}
