{:require  [offcourse.main]
 :init-fns [offcourse.main/init]
 :compiler-options {:asset-path "/js/app.out"
                    :language-in  :ecmascript5
                    :language-out :ecmascript5
                    :libs ["src/js/designdocs.js"]
                    :externs ["src/js/designdocs-externs.js"]}}
