{:require  [offcourse.main]
 :init-fns [offcourse.main/init]
 :compiler-options {:asset-path "/js/app.out"
                    :language-in  :ecmascript5
                    :language-out :ecmascript5
                    :foreign-libs [{:file "src/js/facebook.js"
                                    :provides ["FB"]}
                                   {:file "src/js/aws-sdk-2.3.1.js"
                                    :provides ["AWS"]}]
                    :externs ["facebook.ext.js", "aws.ext.js"]}}
